﻿/* FRONTIER V1.0 */
h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 36px;
  color: inherit;
}

h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: inherit;
}

h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 26px;
  color: inherit;
}

h4 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: inherit;
}

h5 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 17px;
  color: inherit;
}

h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: inherit;
}

p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: inherit;
}

strong, .bold {
  font-weight: bold;
}

hr {
  border-color: #CECECE;
  width: 100%;
}

hr.dotted {
  border-style: dotted;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

.container {
  margin: 0 auto;
  padding: 0;
}

.feedbackBottom {
  display: block;
  position: fixed;
  cursor: pointer;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 none !important;
  z-index: 2147483647 !important;
  text-align: right !important;
  vertical-align: bottom !important;
  width: 264px;
  height: 36px;
  margin-right: 20px !important;
  background-color: transparent !important;
  background: transparent url("../img/feedback_off.png") no-repeat;
  right: 0;
  bottom: 0;
}

.feedbackBottom:hover {
  z-index: 2147483647 !important;
  width: 264px;
  height: 66px;
  background-image: url("../img/feedback_on.png");
}

.nopad {
  padding: 0;
}

.no-tmargin {
  margin-top: 0px;
}

.no-bmargin {
  margin-bottom: 0px;
}

.w300px {
  width: 300px;
}

.w100 {
  width: 100%;
}

.float-left {
  float: left;
}

.close {
  opacity: 0.35;
}

.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  background-repeat: repeat-x;
  border-color: #b2dba1;
}

.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #9acfea;
}

.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #f5e79e;
}

.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}

button {
  text-transform: uppercase;
}

label {
  font-weight: 500;
  font-size: 14px;
}

ul {
  padding: 0;
  list-style: none;
}

.btn {
  border-radius: 0 !important;
}

.btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
  border-style: solid;
}

.btn-default:hover, .btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}

.btn-primary {
  background-image: -webkit-linear-gradient(top, #bb0826 0, #9f1006 100%);
  background-image: linear-gradient(to bottom, #bb0826 0, #9f1006 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #ac0916;
  background-repeat: repeat-x;
  border-color: #8c0d04;
  border-style: solid;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #8a0c03;
  background-position: 0 -15px;
}

.btn-home, .sign-in input[type=submit] {
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
  background: -webkit-linear-gradient(#666, #333);
  background: -moz-linear-gradient(top, #666, #333);
  background: -ms-linear-gradient(#666, #333);
  background: -o-linear-gradient(#666, #333);
  background: linear-gradient(#666, #333);
  zoom: 1;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #FFF;
  background-color: #666;
  background-repeat: repeat-x;
  border-color: #333;
  color: #FFF;
  border-style: solid;
}

.btn-home:hover, .sign-in input[type=submit]:hover, .btn-home:focus, .sign-in input[type=submit]:focus {
  background-color: #333;
  background-position: 0 -15px;
  color: #FFF;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-home, .sign-in input[type=submit] {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #FFF;
  border-color: #ccc;
  background: #dddddd;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  clear: both;
}

.valign {
  display: flex;
  align-items: center;
}

.halign {
  margin: 0 auto;
  display: block;
  float: none;
}

.fb-like > span {
  vertical-align: baseline !important;
}

.no-border {
  border: none !important;
}

.right-border > [class*="col"] {
  border-right: 1px dotted #CECECE;
}

.right-border > [class*="col"]:last-child {
  border-right: none;
}

.clearfix {
  clear: both;
}

@media only screen and (max-width: 767px) {
  .no-xs-border {
    border: none !important;
  }
  .right-xs-border {
    border-right: 1px solid #CECECE !important;
  }
  #page-content {
    margin: 0 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .no-sm-border {
    border: none !important;
  }
  .right-sm-border {
    border-right: 1px solid #CECECE;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .no-md-border {
    border: none !important;
  }
  .right-md-border {
    border-right: 1px solid #CECECE;
  }
}

@media only screen and (min-width: 1200px) {
  .no-lg-border {
    border: none !important;
  }
  .right-lg-border {
    border-right: 1px solid #CECECE;
  }
}

html {
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.4rem;
  line-height: 1.42857;
  color: #333;
  padding: 0;
  margin: 0;
  min-width: 320px;
  max-width: 100vw;
  overflow-x: hidden;
}

a, a:focus, a:hover {
  outline: none;
}

sub,
sup {
  font-size: 50%;
}

sup {
  top: -.75em;
}

.navbar-inverse {
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#3F3F3F));
  background: -webkit-linear-gradient(#333, #3F3F3F);
  background: -moz-linear-gradient(top, #333, #3F3F3F);
  background: -ms-linear-gradient(#333, #3F3F3F);
  background: -o-linear-gradient(#333, #3F3F3F);
  background: linear-gradient(#333, #3F3F3F);
  zoom: 1;
  background-repeat: repeat-x;
}

.navbar-inverse .nav-tabs {
  border: none;
}

.navbar-inverse .nav-tabs li {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #333;
  text-align: center;
  margin-bottom: 0px;
}

.navbar-inverse .nav-tabs li a {
  padding: 12px 25px 7px;
  background-color: #666;
  margin-right: 2px;
  line-height: 1.42857;
  border: none;
  border-radius: 0 !important;
  color: #FFF;
  position: relative;
  display: block;
  cursor: pointer;
}

.navbar-inverse .nav-tabs li.active a, .navbar-inverse .nav-tabs li.active a:focus, .navbar-inverse .nav-tabs li.active a:hover {
  color: #666;
  cursor: default;
  background-color: #FFF;
  border: none;
}

.navbar-inverse .nav-dd {
  list-style-type: none;
  margin-bottom: 0;
}

.navbar-inverse .nav-dd li {
  background-color: transparent;
  padding: 10px 0 9px;
  float: right;
  font-size: 11px;
}

.navbar-inverse .nav-dd li span {
  color: #f0f0f0;
}

.navbar-inverse .nav-dd li > a {
  color: #f0f0f0;
}

.navbar-inverse .nav-dd li.signin > a {
  float: left;
  border-bottom: none;
}

.navbar-inverse .nav-dd li.signin div.dropdown-menu {
  left: inherit;
  right: 5px;
  min-width: 620px;
  z-index: 1001;
}

.navbar-inverse .nav-dd li.signin div.dropdown-menu a {
  padding: 0;
  border-bottom: none;
}

.navbar-inverse .nav-dd li.lang-selector {
  margin-right: 15px;
}

.navbar-inverse .nav-dd li.lang-selector > a {
  border-bottom: none;
}

.navbar-inverse .nav-dd li.lang-selector div.dropdown-menu {
  left: inherit;
  right: 5px;
  min-width: 100px;
  padding: 0;
  margin-left: -5px;
}

.navbar-inverse .nav-dd li.lang-selector div.dropdown-menu a {
  font-size: 14px;
  padding: 5px;
  border-bottom: none;
  display: block;
  color: #000;
}

.navbar-inverse .nav-dd li.lang-selector div.dropdown-menu a:hover {
  background-color: #CECECE;
}

.navbar-inverse .nav-dd li.location {
  margin-right: 20px;
}

.navbar-inverse .nav-dd li.location .dropdown {
  min-width: 500px;
}

.navbar-inverse .nav-dd li.location .dropdown-menu {
  padding: 20px;
}

.navbar-inverse .nav-dd li.location .dropdown-menu .fa.fa-map-marker {
  font-size: 48px;
}

.navbar-inverse .nav-dd li.location .dropdown-menu label {
  display: block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #333;
}

.navbar-inverse .nav-dd li.location .dropdown-menu input {
  max-width: 30%;
  float: left;
  line-height: 30px;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #999;
  margin-right: 15px;
  padding: 0 10px;
}

.navbar-inverse .nav-dd li.location .dropdown-menu .btn {
  max-width: calc(70% - 15px);
  max-width: -ms-calc(70% - 15px);
  max-width: -webkit-calc(70% - 15px);
  float: left;
}

.navbar-inverse .nav-dd li.location > a {
  border-bottom: none;
}

.navbar-inverse .nav-dd i.fa {
  display: inline-block;
  padding: 5px 5px 5px 0;
  float: left;
}

.navbar-inverse .nav-dd i.fa-globe, .navbar-inverse .nav-dd i.fa-user, .navbar-inverse .nav-dd i.fa-map-marker {
  color: #FFF;
  padding: 0px 5px;
  font-size: 15px;
}

.navbar-inverse .mobile-menu .navbar-header .navbar-toggle {
  position: relative;
  float: left;
  margin: 14px 15px 13px;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 65px;
  border-radius: 0;
}

.navbar-inverse .mobile-menu .navbar-header .navbar-toggle .icon-bar {
  height: 5px;
  width: 30px;
}

.navbar-inverse .mobile-menu .navbar-header .navbar-toggle:after {
  content: "MENU";
  color: #FFF;
  position: absolute;
  top: 0px;
  left: 40px;
  line-height: 23px;
}

.navbar-inverse .mobile-menu .navbar-header .navbar-brand {
  padding: 10px;
  display: block;
  border-bottom: none;
  width: calc(100% - 173px);
  width: -webkit-calc(100% - 173px);
  width: -ms-calc(100% - 173px);
  margin: auto;
  text-align: center;
}

.navbar-inverse .mobile-menu .navbar-header .navbar-brand a {
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
  border-bottom: none;
}

.navbar-inverse .mobile-menu .navbar-header .navbar-brand a > img {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.fa.fa-map-marker.red {
  color: #9f1006 !important;
}

.fa.fa-map-marker.yellow {
  color: #d88908 !important;
}

.fa.fa-map-marker.green {
  color: #238310 !important;
}

#header-main {
  border-bottom: 1px solid #CECECE;
}

#header-main .navbar-brand {
  border-bottom: none;
  padding: 15px 0px;
}

#header-main ul.nav {
  padding: 20px 0 15px 0;
  border-bottom: none;
  display: flex;
}

#header-main ul.nav > li {
  flex: auto;
}

#header-main ul.nav > li:nth-of-type(1) {
  flex-grow: 0.9;
}

#header-main ul.nav > li:nth-of-type(2) {
  flex-grow: 1.5;
}

#header-main ul.nav > li:nth-of-type(3) {
  flex-grow: 1.1;
}

#header-main ul.nav > li > a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 26px;
  color: #333;
  border-bottom: none;
  line-height: 45px;
  border-radius: 5px;
  margin: 0 5px -2px;
  padding: 0 10px 0 0px;
  border: none;
}

#header-main ul.nav > li > a:focus, #header-main ul.nav > li > a:hover {
  background: inherit;
}

#header-main ul.nav > li > a + ul.dropdown-menu {
  padding: 10px 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

#header-main ul.nav > li > a + ul.dropdown-menu:before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: middle;
  border-right: 11px solid transparent;
  border-bottom: 11px dashed #CCC;
  border-left: 11px solid transparent;
  content: "";
  position: absolute;
  left: 24px;
  top: -11px;
  z-index: 0;
}

#header-main ul.nav > li > a + ul.dropdown-menu:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: middle;
  border-right: 10px solid transparent;
  border-bottom: 10px dashed #FFF;
  border-left: 10px solid transparent;
  content: "";
  position: absolute;
  left: 25px;
  top: -10px;
  z-index: 0;
}

#header-main ul.nav > li > a + ul.dropdown-menu li a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #333;
  border: none;
  margin: 0;
  border-radius: 0;
  padding: 0 20px;
  line-height: 30px;
}

#header-main ul.nav > li > a + ul.dropdown-menu li a:hover {
  background-color: #eee;
}

#header-main ul.nav > li.open > a {
  background-color: #eee;
}

#header-main ul.nav > li.open > a + ul.dropdown-menu {
  opacity: 1;
  visibility: visible;
}

#header-main ul.nav > li.open > a:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-right: 5px solid transparent;
  border-top: 5px dashed #333;
  border-left: 5px solid transparent;
  content: "";
  position: absolute;
  top: 22px;
}

#search {
  margin: 24px auto 20px;
  height: 35px;
}

#search #search-wrap {
  position: relative;
  padding: 8px 10px 6px;
  width: calc(100% - 40px);
  width: -webkit-calc(100% - 40px);
  width: -ms-calc(100% - 40px);
  display: inline-block;
  line-height: 18px;
}

#search #search-wrap input#search-input {
  width: 100%;
  height: 35px;
  border: 1px #CCC solid;
  border-right: none;
  border-radius: 1px;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  padding: 0 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: inherit;
  z-index: inherit;
}

#search #search-wrap input#search-input:focus {
  outline: none;
}

#search .btn.btn-primary {
  position: relative;
  height: 35px;
  width: 40px;
  background-color: #bb0826;
  outline: none;
}

#search .btn.btn-primary:hover {
  background-color: #8a0c03;
  background-position: 0 -35px;
}

#search .btn.btn-primary i {
  font-size: 14px;
  padding: 0;
}

.modal .modal-content {
  padding: 15px 30px;
  width: 700px;
}

.modal .modal-content .modal-header {
  border-bottom: 0;
}

.modal .modal-content .modal-body {
  padding: 0 20px;
  display: block;
}

.modal .modal-content .modal-body .location.row {
  clear: both;
}

.modal .modal-content .modal-body .location address {
  display: block;
  overflow: hidden;
  line-height: 20px;
  margin: 5px 5px 10px;
  font-size: 20px;
}

.modal .modal-content .modal-body .location address .fa-map-marker {
  font-size: 80px;
  color: #e17811;
}

.modal .modal-content .modal-body .location address .checkAvailibility {
  padding: 10px 0 0;
}

.modal .modal-content .modal-body .location address .checkAvailibility a {
  margin: 26px 0 0;
}

.modal .modal-content .modal-body .location address p {
  font-size: 13px;
  line-height: 15px;
}

.modal .modal-content .modal-body .location address h5 {
  font-size: 14px;
}

.modal .modal-content .modal-body .location address input {
  margin: 0;
}

.modal .modal-content .modal-body .location address input#zipcode {
  border-radius: 4px;
  border: #ccc 1px solid;
  height: 34px;
  margin: 0 5px 20px 5px;
  width: 100px;
  padding: 8px 5px;
  font-size: 15px;
}

.modal .modal-content .modal-body .location address strong {
  font-size: 13px;
  line-height: 15px;
  color: #e8790c;
  padding-left: 8px;
}

.modal .modal-content .modal-body .location address strong a {
  text-decoration: none;
  color: #e8790c;
}

.modal .modal-content .modal-body .location address strong a:hover {
  color: #000;
}

.modal .modal-content .modal-body .location address strong a.active {
  color: #000;
}

.modal .modal-content .modal-body .location address strong .fa-sort-desc {
  margin: 9px 0 0 5px;
  vertical-align: top;
}

.modal .modal-content .modal-body span {
  float: left;
  padding: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #header-main ul.nav > li > a {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #header-main ul.nav > li > a {
    font-size: 18px;
    margin: 0 1px;
    padding: 0 2px 0 0;
  }
  #header-main ul.nav > li.open > a:after {
    display: none;
  }
  .navbar-inverse .nav-tabs li a {
    padding: 12px 10px 7px;
  }
  .navbar-inverse .nav-dd li {
    margin: 0;
  }
  .navbar-inverse .nav-dd li.location, .navbar-inverse .nav-dd li.lang-selector {
    margin-right: 5px;
  }
  .navbar-inverse .nav-dd li.signin a {
    margin-right: 2px;
  }
}

@media only screen and (max-width: 767px) {
  .header .row {
    margin: 0;
  }
  .header .row [class*="col"] {
    padding: 0;
  }
  .navbar-inverse .navbar-collapse {
    position: absolute;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#ececec));
    background: -webkit-linear-gradient(#fefefe, #ececec);
    background: -moz-linear-gradient(top, #fefefe, #ececec);
    background: -ms-linear-gradient(#fefefe, #ececec);
    background: -o-linear-gradient(#fefefe, #ececec);
    background: linear-gradient(#fefefe, #ececec);
    zoom: 1;
    z-index: 1;
    border: none;
  }
  .navbar-inverse .navbar-collapse > ul#mob-menu > li {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    margin-bottom: inherit;
    float: none;
  }
  .navbar-inverse .navbar-collapse > ul#mob-menu > li > a {
    text-align: left;
    border-bottom: 1px solid #999;
    margin-bottom: 0;
    padding: 10px 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: inherit;
    background-color: inherit;
    margin-right: inherit;
    cursor: inherit;
  }
  .navbar-inverse .navbar-collapse > ul#mob-menu > li > a:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    margin-top: 5px;
    vertical-align: middle;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px dashed #333;
    content: "";
    float: right;
  }
  .navbar-inverse .navbar-collapse > ul#mob-menu > li > a[aria-expanded="true"]:after {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
  .navbar-inverse .navbar-collapse > ul#mob-menu > li > a:hover {
    border-bottom: 1px solid #999;
    color: inherit;
    background-color: transparent;
  }
  .navbar-inverse .navbar-collapse > ul#mob-menu > li > ul {
    margin: 10px 0px;
    list-style: none;
  }
  .navbar-inverse .navbar-collapse > ul#mob-menu > li > ul.open {
    display: block;
  }
  .navbar-inverse .navbar-collapse > ul#mob-menu > li > ul > li > a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: inherit;
    border-bottom: none;
    line-height: 24px;
    margin: 0 35px;
    display: inherit;
    padding: inherit;
    background-color: inherit;
    cursor: inherit;
    text-align: left;
  }
  .navbar-inverse .navbar-collapse > ul#mob-menu > li > ul > li > a:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    vertical-align: middle;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px dashed #333;
    content: "";
  }
  .navbar-inverse .navbar-collapse > ul#mob-menu > li > ul > li > a[aria-expanded="true"]:after {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
  .navbar-inverse .navbar-collapse > ul#mob-menu > li > ul > li > ul {
    margin: 5px 0px;
    list-style: none;
  }
  .navbar-inverse .navbar-collapse > ul#mob-menu > li > ul > li > ul > li > a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: inherit;
    padding: 5px 35px;
    display: block;
    margin-bottom: 0;
    border-bottom: none;
    background-color: inherit;
    cursor: inherit;
    text-align: left;
  }
  .navbar-inverse .navbar-collapse > ul#mob-menu > li > ul > li > ul > li > a:hover {
    background-color: #CECECE;
  }
  .navbar-inverse .nav-dd {
    right: 10px;
    top: 2px;
  }
  .navbar-inverse .nav-dd li {
    padding: 10px 0;
  }
  .navbar-inverse .nav-dd li.lang-selector div.dropdown-menu, .navbar-inverse .nav-dd li.location div.dropdown-menu {
    top: 50px;
    left: 15px;
    right: 15px;
    position: absolute;
    border-radius: 0;
    margin: 0 -15px;
    padding: 20px 0;
  }
  .navbar-inverse .nav-dd li.lang-selector div.dropdown-menu a, .navbar-inverse .nav-dd li.location div.dropdown-menu a {
    padding: 5px 25px;
  }
  .navbar-inverse .nav-dd i.fa-map-marker, .navbar-inverse .nav-dd i.fa-globe {
    font-size: 30px;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    float: none;
    width: 100%;
  }
  #search {
    margin: 24px 15px 20px;
  }
}

#footer {
  background-color: #222;
  padding: 100px 0;
  margin-top: 0;
  color: #999;
  font-size: 11px;
}

#footer img {
  margin: 25px 0 0 0;
}

#footer h3 {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}

#footer a {
  color: #999;
  border-bottom: none;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#footer ul {
  list-style: none;
  color: #999;
}

#footer ul li {
  padding: 3px 0;
}

#footer ul#policies {
  padding: 35px 0 0 0;
  margin: 0;
}

#footer ul#policies li {
  display: inline;
}

#footer ul#policies li.spacer {
  padding: 0 10px;
}

#footer #social-icons {
  padding-top: 35px;
  font-size: 13px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #footer ul#policies {
    padding: 35px 0 10px 0;
  }
  #footer ul#policies li.spacer {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  #footer {
    padding: 0 0 15px !important;
    margin-top: 40px;
  }
  #footer .row {
    margin: 0;
  }
  #footer .row [class*="col"] {
    padding: 0;
  }
  #footer h3 {
    border-bottom: 1px solid #585858;
    cursor: pointer;
    display: block;
    font-size: 14px !important;
    line-height: 18px;
    padding: 11px 20px;
    position: relative;
  }
  #footer h3:after {
    background: url("../img/arrow.png") no-repeat 0 0;
    content: "";
    height: 9px;
    position: absolute;
    right: 20px;
    top: 17px;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 6px;
  }
  #footer h3.open:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  #footer ul {
    padding: 10px 20px;
    margin: 0;
    display: none;
  }
  #footer #copyright {
    padding-left: 15px;
    padding-top: 10px;
    text-align: left;
  }
  #footer #social-icons {
    padding-left: 15px;
    padding-top: 10px;
  }
  #footer #social-icons .pull-right {
    float: none !important;
  }
}

#homepage > .row:last-child {
  margin-bottom: 110px;
}

div.carousel {
  height: 280px;
  background-color: #FFF;
  margin-bottom: -20px;
  overflow: hidden;
}

div.carousel ul.slick-dots {
  position: absolute;
  right: 0;
  width: auto;
  bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
  height: 25px;
  z-index: 1;
}

div.carousel ul.slick-dots li {
  margin: 0;
  width: auto;
  height: 25px;
}

div.carousel ul.slick-dots li .paging {
  position: relative;
  float: left;
  padding: 5px 8px;
  line-height: 1.1;
  color: #333;
  text-decoration: none;
  background-color: #F8F8F8;
  border: none;
}

div.carousel ul.slick-dots li.slick-active .paging {
  z-index: 2;
  color: #FFF;
  cursor: default;
  background-color: #008c9b;
}

div.carousel .slick-slice {
  background-color: #FFF;
}

div.carousel .featured {
  display: block;
  float: left;
}

div.carousel .featured .txt-featured {
  width: 250px;
  margin-left: 20px;
  float: left;
  margin-right: 20px;
}

div.carousel .featured .txt-featured .btn {
  width: 100%;
  margin-bottom: 20px;
}

div.carousel .featured .img-featured {
  width: calc(100% - 290px);
  width: -ms-calc(100% - 290px);
  width: -webkit-calc(100% - 290px);
  position: relative;
  float: left;
}

div.carousel .featured .img-featured img {
  max-width: 100%;
  max-height: 250px;
  height: auto;
}

div.carousel .cmn_month small {
  font-size: 24px;
}

div.carousel .cmn_month strong {
  font-size: 120px;
  line-height: 110px;
}

div.carousel .cmn_month sup {
  font-size: 60px;
  line-height: 1em;
  font-weight: bold;
  max-width: 115px;
}

div.carousel .cmn_month em {
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
}

.sign-in {
  position: absolute;
  background-color: #CECECE;
  border-radius: 5px;
  z-index: 1;
  right: 30px;
  top: 20px;
  width: 214px;
  padding: 0 13px;
}

.sign-in h4 {
  margin-top: 14px;
  margin-bottom: 8px;
}

.sign-in label {
  float: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: inherit;
  margin-bottom: 1px;
}

.sign-in .forgot {
  float: right;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #008c9b;
}

.sign-in input {
  clear: block;
  width: 100%;
  margin-bottom: 7px;
}

.sign-in input[type=submit] {
  margin-bottom: 12px;
  padding: 3px 12px;
}

.sign-in input[type=checkbox] {
  width: 9px;
  height: 9px;
  margin-right: 10px;
  line-height: 9px;
  margin-top: 0;
  margin-bottom: 0;
}

.sign-in .form-group {
  display: block;
  float: none;
  overflow: hidden;
  margin-bottom: 11px;
}

.sign-in .form-group .control-label {
  margin-bottom: 0;
  position: relative;
  height: 14px;
}

.sign-in .form-group .control-label span {
  position: absolute;
  left: 20px;
  top: -1px;
  height: 12px;
  width: 140px;
  font-size: 12px;
}

.sign-in p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: inherit;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.sign-in p a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #008c9b;
}

.sign-in p a:hover {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #008c9b;
}

.sign-in.errors {
  right: 280px;
  background: transparent;
  padding: 0;
}

.links ul {
  list-style: none;
  margin: 0;
}

.links ul li {
  display: table-cell;
  width: 1%;
  text-align: center;
}

.links ul li a {
  border: 0;
}

.links ul li a i.fa-stack-2x {
  color: #008c9b;
}

.links ul li a i.fa-stack-1x {
  color: #FFF;
  text-align: center;
}

.links ul li a h6 {
  color: #333;
  display: inline-block;
  margin: 0 0 0 5px;
}

.links ul li a:hover h6 {
  color: #008c9b;
}

.popular-plans {
  margin-top: 6px;
  margin-bottom: 15px;
}

.popular-plans .title {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #003333;
  text-transform: uppercase;
}

.popular-plans p.description {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #333;
}

.popular-plans .price {
  display: block;
}

.popular-plans .price .starting {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #333;
}

.popular-plans .price .value, .popular-plans .price .period {
  display: inline-block;
  font-weight: bold;
  margin: 0;
}

.popular-plans .price a {
  clear: both;
  display: block;
  border-bottom: none;
}

.popular-plans .price a p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #008c9b;
  text-transform: uppercase;
  margin: 5px 0 0 0;
}

.popular-plans .price a p:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  margin-top: -2px;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px dashed #333;
  content: "";
}

.select-bundle {
  margin-top: 6px;
  margin-bottom: 15px;
}

.select-bundle .title {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #003333;
  text-transform: uppercase;
}

.franks-corner {
  margin-bottom: 5px;
}

.franks-corner img {
  margin: 15px auto;
  text-align: left;
}

.franks-corner .title {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin-top: 30px;
}

.franks-corner .description {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #333;
}

.franks-corner .description a {
  color: #008c9b;
}

.making-a-difference {
  margin-top: 15px;
  display: block;
  overflow: hidden;
}

.making-a-difference .title {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 0;
}

.making-a-difference .location {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #666;
  text-transform: uppercase;
  line-height: 17px;
  margin: 0 0 25px 0;
}

.making-a-difference .mad-content {
  clear: both;
  margin: 0 0 25px 0;
}

.making-a-difference .mad-content .icon {
  float: left;
  vertical-align: top;
  margin-right: 5px;
  width: 30px;
  font-size: 22px;
  color: #999;
}

.making-a-difference .mad-content .text {
  float: left;
  width: calc(100% - 35px);
  width: -ms-calc(100% - 35px);
  width: -webkit-calc(100% - 35px);
  line-height: 14px;
}

.making-a-difference .mad-content .text .title {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-transform: inherit;
  margin: 0;
}

.making-a-difference .mad-content .description {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #333;
  margin-bottom: 5px;
}

.making-a-difference .mad-content .read-more {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #008c9b;
  text-transform: uppercase;
  display: block;
  margin: 0;
}

.making-a-difference .mad-content .read-more:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  margin-top: -2px;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px dashed #333;
  content: "";
}

.making-a-difference .cta {
  margin-left: 25px;
}

.custom-list {
  margin-left: 45px;
  margin-top: 15px;
  display: block;
  overflow: hidden;
}

.custom-list .title {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 35px;
}

.custom-list ul {
  list-style: none;
  margin: 0;
}

.custom-list ul li {
  margin-bottom: 30px;
  height: 20px;
}

.custom-list ul li a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #333;
}

.custom-list ul li a i {
  color: #008c9b;
  margin-right: 10px;
  font-size: 18px;
  width: 15px;
}

.custom-list ul li a h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #333;
  display: inline-block;
  margin: 0;
}

.custom-list ul li a:hover h6 {
  color: #008c9b;
}

.video-tweet {
  margin-top: 25px;
}

.video-tweet .video-home a {
  border-bottom: none;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.video-tweet .video-home a .video-crop {
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  position: relative;
  margin-bottom: 7px;
  overflow: hidden;
}

.video-tweet .video-home a .video-crop:before {
  content: "";
  height: 100%;
  width: 100%;
  background: #333 url("../img/video-play.png") no-repeat center center;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.video-tweet .video-home a .video-crop:hover {
  border: 5px solid #E7E7E7;
}

.video-tweet .video-home a .video-crop:hover:before {
  opacity: 0.9;
}

.video-tweet .video-home a .video-crop .video-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: -10% auto;
}

.video-tweet .video-home a figcaption {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #333;
  margin: 0;
}

.small-icon {
  display: inline-block;
  margin-right: 10px;
  width: 15px;
  height: auto;
}

.big-icon {
  display: inline-block;
  margin-right: 10px;
  width: 42px;
  height: auto;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div.carousel {
    height: 179px;
  }
  .links {
    display: block;
    overflow: hidden;
    margin-bottom: -10px;
  }
  .links ul li {
    display: block;
    width: 33.33%;
    text-align: left;
    float: left;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .right-border > [class*="col"] {
    border-right: none;
    border-bottom: 1px dotted #CECECE;
  }
  .right-border > [class*="col"]:last-child {
    border: none;
  }
  .right-border > [class*="col"] .right-border > [class*="col"] {
    border-right: 1px dotted #CECECE;
    border-bottom: none;
  }
  .right-border > [class*="col"] .right-border > [class*="col"]:last-child {
    border: none;
  }
  #homepage {
    overflow: hidden;
    margin: 0 15px;
  }
  #homepage > .row:last-child {
    margin-bottom: 25px;
  }
  .nopadmobile {
    padding: 0;
  }
  div.carousel {
    height: auto;
  }
  div.carousel .featured {
    margin-bottom: 20px;
  }
  div.carousel .featured .cmn_month {
    padding-bottom: 0;
  }
  div.carousel .featured em {
    max-width: 150px;
  }
  div.carousel .featured + .clearfix {
    margin: 0 auto;
  }
  div.carousel .featured + .clearfix .btn {
    margin: 0 auto 20px;
    max-width: 200px;
    display: block;
  }
  .links {
    display: table;
    margin: 0 auto;
  }
  .links ul li {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  .popular-plans {
    margin-bottom: 0px;
  }
  .popular-plans .row .row {
    padding-bottom: 20px;
  }
  .select-bundle {
    margin-top: 20px;
  }
  .franks-corner > .row > [class*="col"] {
    margin: 20px 0;
  }
  .making-a-difference {
    display: table;
    margin: 0 auto 20px;
  }
  .custom-list {
    margin-left: auto;
  }
  .custom-list ul li a {
    display: table;
  }
  .custom-list ul li a i {
    float: left;
  }
  .custom-list ul li a h6 {
    width: 100%;
    display: table-cell;
    height: 20px;
    line-height: 14px;
    vertical-align: middle;
  }
  .video-tweet {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .video-tweet .video-home {
    margin-bottom: 20px;
  }
  .video-tweet .video-home a .video-crop {
    position: relative;
    margin-bottom: 7px;
  }
  .video-tweet .video-home a .video-crop .video-img {
    width: 100%;
    height: auto;
  }
}

.banner {
  position: relative;
  overflow: hidden;
  clear: both;
  margin: 10px auto;
  display: block;
  float: left;
  width: 100%;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner.outage-alert {
  height: 20px;
  background-image: -webkit-linear-gradient(top, #F8F8F8 0%, #CECECE 100%);
  background-image: linear-gradient(to bottom, #F8F8F8 0%, #CECECE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffcecece', GradientType=0);
  background-repeat: repeat-x;
  border-radius: 5px;
  text-align: left;
  color: #999;
  font-size: 11px;
  line-height: 20px;
  padding: 0 10px;
}

.banner.outage-alert strong {
  font-size: 11px;
  margin: 0 5px;
}

.banner.leader-board {
  height: 72px;
}

.banner.wide-skycraper {
  height: 648px;
}

.container .gsc-input-box-focus input#gsc-i-id2 {
  background-image: none !important;
}

.container .gsc-control-cse {
  font-family: Arial, sans-serif;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}

.container .gsc-control-cse .gsc-table-result {
  font-family: Arial, sans-serif;
}

.container input.gsc-input, .container .gsc-input-box, .container .gsc-input-box-hover, .container .gsc-input-box-focus {
  border-color: #BCCDF0;
}

.container input.gsc-search-button, .container input.gsc-search-button:hover, .container input.gsc-search-button:focus {
  border-color: #336699;
  background-color: #E9E9E9;
  background-image: none;
  filter: none;
}

.container .gsc-tabHeader.gsc-tabhInactive {
  border-color: #FF9900;
  background-color: #FFFFFF;
}

.container .gsc-tabHeader.gsc-tabhActive {
  border-color: #E9E9E9;
  background-color: #E9E9E9;
  border-bottom-color: #FF9900;
}

.container .gsc-tabsArea {
  border-color: #FF9900;
}

.container .gsc-webResult.gsc-result, .container .gsc-results .gsc-imageResult {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}

.container .gsc-webResult.gsc-result:hover, .container .gsc-imageResult:hover {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}

.container .gsc-control-cse .gs-spelling, .container .gsc-control-cse .gs-result .gs-title, .container .gsc-control-cse .gs-result .gs-title * {
  text-decoration: none;
}

.container .gsc-control-cse .gs-spelling a:hover, .container .gsc-control-cse .gs-result .gs-title a:hover, .container .gsc-control-cse .gs-result .gs-title a:hover * {
  text-decoration: underline;
}

.container .gs-webResult.gs-result a.gs-title:link, .container .gs-imageResult a.gs-title:link {
  color: #3399cc !important;
}

.container .gs-webResult.gs-result a.gs-title:link b, .container .gs-imageResult a.gs-title:link b {
  color: #3399cc !important;
  text-decoration: none;
}

.container .gs-webResult.gs-result a.gs-title:visited, .container .gs-webResult.gs-result a.gs-title:visited b, .container .gs-imageResult a.gs-title:visited, .container .gs-imageResult a.gs-title:visited b {
  color: #3399cc !important;
}

.container .gs-webResult.gs-result a.gs-title:hover, .container .gs-webResult.gs-result a.gs-title:hover b, .container .gs-imageResult a.gs-title:hover, .container .gs-imageResult a.gs-title:hover b {
  color: #3399cc !important;
}

.container .gs-webResult.gs-result a.gs-title:active, .container .gs-webResult.gs-result a.gs-title:active b, .container .gs-imageResult a.gs-title:active, .container .gs-imageResult a.gs-title:active b {
  color: #3399cc !important;
}

.container .gsc-cursor-page {
  color: #3399cc;
}

.container a.gsc-trailing-more-results:link {
  color: #3399cc !important;
}

.container .gs-webResult .gs-snippet, .container .gs-imageResult .gs-snippet, .container .gs-fileFormatType {
  color: #333333 !important;
}

.container .gs-webResult div.gs-visibleUrl, .container .gs-imageResult div.gs-visibleUrl {
  color: #666 !important;
}

.container .gs-webResult div.gs-visibleUrl-short {
  color: #666;
}

.container .gs-webResult div.gs-visibleUrl-short {
  display: none;
}

.container .gs-webResult div.gs-visibleUrl-long {
  display: block;
}

.container .gs-promotion div.gs-visibleUrl-short {
  display: none;
}

.container .gs-promotion div.gs-visibleUrl-long {
  display: block;
}

.container .gsc-cursor-box {
  border-color: #FFFFFF;
}

.container .gsc-results .gsc-cursor-box {
  margin: 30px 0;
  font-size: 16px;
  text-align: center;
}

.container .gsc-results .gsc-cursor-box .gsc-cursor-page {
  border-color: #E9E9E9;
  background-color: #FFFFFF;
  color: #3399CC;
}

.container .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  border-color: #FF9900;
  background-color: #FFFFFF;
  color: #3399CC;
}

.container .gsc-webResult.gsc-result.gsc-promotion {
  border-color: #336699;
  background-color: #FFFFFF;
}

.container .gsc-completion-title {
  color: #3399CC !important;
}

.container .gsc-completion-snippet {
  color: #333333 !important;
}

.container .gs-promotion a.gs-title:link, .container .gs-promotion a.gs-title:link *, .container .gs-promotion .gs-snippet a:link {
  color: #0000FF;
}

.container .gs-promotion a.gs-title:visited, .container .gs-promotion a.gs-title:visited *, .container .gs-promotion .gs-snippet a:visited {
  color: #663399;
}

.container .gs-promotion a.gs-title:hover, .container .gs-promotion a.gs-title:hover *, .container .gs-promotion .gs-snippet a:hover {
  color: #0000FF;
}

.container .gs-promotion a.gs-title:active, .container .gs-promotion a.gs-title:active *, .container .gs-promotion .gs-snippet a:active {
  color: #0000FF;
}

.container .gs-promotion .gs-snippet, .container .gs-promotion .gs-title .gs-promotion-title-right, .container .gs-promotion .gs-title .gs-promotion-title-right * {
  color: #000000;
}

.container .gs-promotion .gs-visibleUrl, .container .gs-promotion .gs-visibleUrl-short {
  color: #008000;
}

.container .gcsc-branding {
  display: none;
}

.container .gs-result .gs-snippet {
  margin: 0 0 8px 8px;
}

.container .gsc-control-cse, .container .gsc-control-cse .gsc-table-result {
  margin-top: 2px;
}

.container .gs-spelling a {
  color: #3399CC !important;
  text-decoration: none !important;
}

.container .gs-spelling a:hover {
  text-decoration: underline;
}

.container .gs-spelling {
  padding: 0 0 3px 8px !important;
}

.container .gs-result a.gs-visibleUrl, .container .gs-result .gs-visibleUrl {
  padding-bottom: 5px !important;
}

.container .gsc-thumbnail-inside {
  border-top: 1px solid #CECECE;
  padding: 10px 0 3px 0;
}

.container .gsc-webResult .gsc-result {
  padding: 17px 0 0 0 !important;
}

.container .gsc-above-wrapper-area {
  border-bottom: none !important;
}

.container .gsc-selected-option-container {
  width: 100% !important;
}

@media only screen and (max-width: 767px) {
  .container .cse .gsc-control-cse, .container .gsc-control-cse {
    padding: 0;
  }
  .container .gsc-result-info-container {
    display: block;
  }
  .container .gsc-result-info-container .gsc-result-info {
    padding: 8px 0;
  }
  .container .gsc-orderby-container {
    display: block;
    text-align: left;
    float: left;
    width: auto;
  }
  .container .gsc-orderby-container .gsc-selected-option-container {
    position: relative;
  }
  .container .gsc-getlink-container {
    display: block;
    float: left;
  }
}

#making-a-dif .featured-items {
  background: #F8F8F8;
  padding: 15px 20px;
  margin-bottom: 30px;
}

#making-a-dif .featured-items li {
  margin-bottom: 15px;
}

#making-a-dif .featured-items li:last-child {
  margin-bottom: 0;
}

#making-a-dif .featured-items li a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #333;
}

#making-a-dif .featured-items li a i {
  margin-right: 5px;
  color: #008c9b;
  font-size: 14px;
}

#making-a-dif nav {
  float: right;
  margin-top: 30px;
}

#making-a-dif nav.bottom {
  margin-bottom: 30px;
}

#making-a-dif nav ul.pagination {
  margin: 0;
  margin-right: 15px;
}

#making-a-dif nav ul.pagination > li > a, #making-a-dif nav ul.pagination > li > span {
  position: relative;
  float: left;
  padding: 5px 8px;
  margin-left: -1px;
  line-height: 1.1;
  color: #333;
  text-decoration: none;
  background-color: #FFF;
  border: none;
}

#making-a-dif nav ul.pagination > li:first-child > a, #making-a-dif nav ul.pagination > li:first-child > span {
  border-radius: 0;
}

#making-a-dif nav ul.pagination > li.active > a, #making-a-dif nav ul.pagination > li.active > span {
  z-index: 2;
  color: #FFF;
  cursor: default;
  background-color: #008c9b;
}

#making-a-dif nav ul.pagination > li.last, #making-a-dif nav ul.pagination > li.first, #making-a-dif nav ul.pagination > li.disabled {
  display: none;
}

#making-a-dif .result {
  padding: 20px 0;
  border-bottom: 1px solid #CECECE;
}

#making-a-dif .result:first-child {
  padding-top: 0;
}

#making-a-dif .result:last-child {
  padding-bottom: 30px;
  border-bottom: none;
}

#making-a-dif .result .title {
  margin: 0;
}

#making-a-dif .result .date {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #666;
}

#making-a-dif .result .download {
  color: #008c9b;
}

#making-a-dif .result .download i {
  margin-right: 5px;
}

#making-a-dif .result .download:hover {
  color: #1e6c82;
}

.breadcrumb {
  border: 1px solid #e7e7e7;
  background: #efefef;
  margin: 10px 0 15px;
  padding: 8px 0;
  border-radius: 0;
}

.breadcrumb li {
  display: inline-block;
  vertical-align: top;
  background: url(../img/breadcrumb.jpg) no-repeat left center;
  padding-left: 14px;
  margin-right: 8px;
  font-size: 11px;
}

.breadcrumb li:first-child {
  background: none;
}

.breadcrumb li:before {
  display: none;
}

.breadcrumb li a {
  text-decoration: none;
  color: #000;
}

.product-banner {
  border: 1px solid #e5e5e5;
  padding: 0 0 10px 0;
  color: #333;
  position: relative;
  overflow: hidden;
  min-height: 258px;
  margin-top: 20px;
}

.product-banner ul {
  list-style: inherit;
  margin-left: 20px;
}

.product-banner p {
  margin-bottom: 14px;
}

.product-banner .product-text {
  min-height: 258px;
}

.product-banner .product-text .cmn_details {
  position: absolute;
  bottom: 10px;
}

.product-banner .product-text .cmn_details.relative {
  position: relative;
  bottom: inherit;
}

.product-banner .product-text .cmn_details .cmn_callchat em {
  padding-top: 3px;
}

.cmn_callchat {
  display: inline-block;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
}

.cmn_callchat a {
  text-decoration: none;
  color: #222222;
  cursor: default;
}

.cmn_callchat strong {
  padding: 3px 5px 4px 10px;
  display: inline-block;
}

.cmn_callchat small {
  font-size: 17px;
  padding: 2px 6px;
  background: white;
  border-radius: 50%;
  display: inline-block;
  margin-top: 1px;
}

.cmn_callchat em {
  font-style: normal;
  display: inline-block;
  padding-top: 8px;
}

.cmn_callchat .fa-phone {
  background: #a01606;
  font-size: 14px;
  line-height: 16px;
  color: white;
  border-radius: 50%;
  margin-right: 5px;
  padding: 4px 7px;
  position: relative;
  top: -1px;
}

.cmn_callchat .fa-comment {
  color: #a01606;
  font-size: 24px;
  line-height: 26px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.cmn_callchat.chat strong {
  padding-top: 0px;
}

.cmn_callchat.chat a {
  cursor: pointer;
}

.cmn_callchat.chat a:hover {
  color: #a01606;
}

.amazonPrime {
  background-color: #f4f4f4;
  border: solid 1px #e6e6e6;
  margin: 25px 0 0;
  /*
  MOBILE & TABLET
  .logo {
    padding: 15px 0 0 16px;
  }*/
}

.amazonPrime .logo {
  border-right: solid 1px #e6e6e6;
  padding: 25px 0 20px 35px;
}

.amazonPrime h4 {
  margin: 15px 0 5px 0;
}

.amazonPrime p {
  line-height: 21px;
  padding: 10px 0;
  font-size: 85%;
}

.fios_service .dsllist {
  margin-bottom: 30px;
}

.fios_service h5 {
  margin-bottom: 35px;
  line-height: 20px;
}

.fios_service > .row > [class*="col"] {
  background: white;
  border: 1px solid #d8d8d8;
  box-shadow: inset 0 0 5px 5px #f3f3f3;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  z-index: 9;
  padding: 36px 2% 70px;
  margin: 0 15px;
  max-width: 370px;
}

.fios_service > .row > [class*="col"]:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  background: #c5a3cd;
  content: "";
  width: 100%;
}

.fios_service > .row > [class*="col"]:nth-child(2):after {
  background: #9a77a8;
}

.fios_service > .row > [class*="col"]:nth-child(3):after {
  background: #744f83;
}

.fios_service > .row > [class*="col"] h3 {
  display: inline-block;
  vertical-align: top;
  font-size: 22px;
  line-height: 40px;
  margin: 0 0 11px 0;
}

.fios_service > .row > [class*="col"] h3 a {
  text-decoration: none;
  color: #333333;
  border-bottom: dotted 1px #333333;
}

.fios_service > .row > [class*="col"] h6 {
  min-height: 80px;
  margin-bottom: 0;
  line-height: 20px;
}

.fios_service > .row > [class*="col"] figure {
  margin-bottom: 31px;
}

.fios_service > .row > [class*="col"] .link {
  display: block;
  font-size: 13px;
  line-height: 17px;
  position: absolute;
  font-weight: bold;
  left: 0;
  bottom: 32px;
  width: 100%;
}

.fios_service > .row > [class*="col"] .link a {
  text-decoration: underline;
  color: #008c9b;
}

.fios_service > .row > [class*="col"] .cmn_month {
  display: table;
  margin: 0 auto;
}

.cmn_month {
  display: block;
  padding-bottom: 15px;
}

.cmn_month small {
  font-size: 13px;
  line-height: 14px;
  display: block;
  text-align: left;
}

.cmn_month strong {
  font-size: 65px;
  line-height: 67px;
  margin: 0;
}

.cmn_month em {
  font-size: 17px;
  line-height: 19px;
  padding: 0 0 0 4px;
  font-style: normal;
  display: block;
}

.cmn_month sup {
  font-size: 23px;
  line-height: 30px;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 5px 0;
  position: static;
  text-align: left;
}

.cmn_month + p {
  font-size: 15px;
  line-height: 21px;
  padding: 10px 0;
}

.cmn_link, .cmn_link:link {
  font-size: 15px;
  line-height: 17px;
  color: #008c9b;
  text-decoration: underline;
}

.cmn_link:hover, .cmn_link:link:hover {
  text-decoration: none;
  color: #008c9b;
}

.internet_details h2 {
  margin-top: 6px;
}

.internet_details h2 + p {
  font-size: 15px;
}

.internet_details p {
  font-size: 13px;
  line-height: 19px;
  padding: 10px 0;
}

.internet_details p a {
  color: #008c9b;
}

.internet_details p a:hover {
  text-decoration: underline;
  color: #008c9b;
}

.internet_details h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.internet_details .content {
  margin: 0;
}

.service_details {
  margin-top: 33px;
}

.service_details article h4 {
  margin-top: 0;
}

.service_details .cmn_link {
  color: #333;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 25px;
  display: inline-block;
  font-weight: 700;
}

.service_details .cmn_link a {
  color: #008c9b;
  text-decoration: underline;
}

.service_details .cmn_link a:hover {
  color: #008c9b;
}

.service_details .fa-exclamation-circle {
  color: #008c9b;
}

.service_details .error_link .fa {
  margin-right: 3px;
}

.service_details .error_link a {
  text-decoration: none;
  font-weight: 400;
}

.service_details .error_link a:hover {
  text-decoration: underline;
}

.service_details article {
  font-size: 13px;
  line-height: 17px;
}

.service_details article p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.service_details article p a {
  text-decoration: underline;
  font-weight: 700;
  color: #008c9b;
}

.service_details article p a:hover {
  text-decoration: none;
  color: #008c9b;
}

.service_details article ul {
  margin: 0 0 25px;
  padding: 0 20px;
  list-style: disc;
}

.service_details article ul li {
  padding: 0 0 8px 0;
}

.service_details article ul li a {
  text-decoration: underline;
  font-weight: 700;
}

.service_details article ul li a:hover {
  text-decoration: none;
}

.service_details article ul li .fa {
  font-size: 15px;
  margin-right: 14px;
  float: left;
  min-width: 16px;
}

.service_details article h2 {
  margin: 0;
}

.service_details article h3 {
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  padding-bottom: 5px;
}

.service_details .service_list {
  list-style: none;
  padding: 0;
}

.service_details .service_list li {
  text-indent: inherit;
  background: none;
  padding: 0 0 8px;
}

.service_details .service_list li.movie {
  background: url(../img/internet-greatfor-movie-ico.png) no-repeat -4px -3px;
  padding-left: 30px;
}

.service_details .service_list li.video {
  background: url(../img/internet-greatfor-video-ico.png) no-repeat -4px -3px;
  padding-left: 30px;
}

.service_details .btn-primary {
  margin-left: 15px;
}

.service_details .gauge {
  text-align: center;
}

.disclaimer-details {
  padding: 20px 0px;
}

.disclaimer-details small {
  font-size: 11px;
  line-height: 12px;
  padding: 0;
}

.gray_detailsbox {
  border-top: 1px solid lightgrey;
  padding: 35px 0;
  min-height: 158px;
  margin: 0 -15px;
  clear: both;
  background: #f4f4f4;
  color: #222222;
  text-align: center;
}

.gray_detailsbox p {
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 25px 0;
}

.gray_detailsbox .cmn_callchat {
  font-size: 24px;
  line-height: 28px;
}

.gray_detailsbox .cmn_callchat em {
  display: inline-block;
  font-style: normal;
  padding-top: 6px;
}

.gray_detailsbox .cmn_callchat strong {
  display: inline-block;
  padding: 3px 5px 4px 15px;
}

.gray_detailsbox .cmn_callchat .fa-phone {
  margin-right: 7px;
  font-size: 21px;
  line-height: 23px;
  padding: 7px 10px;
  background: #A01606;
  border-radius: 50%;
  color: #fff;
}

.gray_detailsbox .cmn_callchat .fa-comment {
  color: #A01606;
  font-size: 36px;
  line-height: 36px;
  margin-right: 9px;
  position: relative;
}

.gray_detailsbox .cmn_callchat a {
  color: #222222;
}

.gray_detailsbox .cmn_callchat small {
  background: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 24px;
  margin-top: 3px;
  padding: 4px 8px;
  border: 1px solid #d3d3d3;
  margin: 0 4px 0 6px;
}

.gray-stroke {
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
}

.filter {
  border-bottom: 1px solid #cecece;
  padding: 20px 0 16px;
  margin: 0;
  line-height: none;
}

.filter li {
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  display: inline-block;
  vertical-align: top;
  background: url(../img/check_list2.png) no-repeat bottom left;
  padding: 0 0 3px 42px;
  margin-right: 40px;
}

.filter li.check_list_none {
  background-position: 0 0;
}

.bundle_details .video_bundle, .bundle_details .voice_bundle {
  display: none;
}

.bundle_details .bucket_details .row .cmn_row {
  border: 1px solid #d8d8d8;
  min-height: 222px;
  box-shadow: inset 0 0 5px 5px #f3f3f3;
  margin-bottom: 30px;
  padding: 37px 0 10px;
  position: relative;
  float: none;
  overflow: hidden;
}

.bundle_details .bucket_details .row .cmn_row:after {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #999999;
  width: 10px;
  height: 100%;
  content: "";
}

.bundle_details .bucket_details .row .cmn_row .cmn_row:after {
  background: #666;
}

.bundle_details .bucket_details .row:nth-child(2n) .cmn_row:after {
  background: #666;
}

.bundle_details .bucket_details .row:nth-child(3n) .cmn_row:after {
  background: #333;
}

.bundle_details .bucket_details ul {
  list-style: none;
  margin: 0;
  padding: 0 3px;
}

.bundle_details .bucket_details ul li {
  padding-bottom: 0px;
  font-size: 15px;
  line-height: 17px;
  float: left;
  width: 100%;
}

.bundle_details .bucket_details ul li i {
  display: inline-block;
  margin-right: 15px;
  width: 50px;
  line-height: 30px;
  font-size: 42px;
  text-align: center;
}

.bundle_details .bucket_details ul li strong {
  display: block;
}

.bundle_details .bucket_details ul li .left {
  float: left;
  width: 197px;
}

.bundle_details .bucket_details ul li .left figure {
  min-height: 67px;
  float: left;
}

.bundle_details .bucket_details ul li .left h5 {
  margin-top: 0;
}

.bundle_details .bucket_details ul h5 {
  font-size: 15px;
}

.bundle_details .bucket_details .col2 {
  padding-top: 20px;
  padding-right: 0px;
  margin-left: 4.6%;
}

.bundle_details .bucket_details .btn-primary {
  display: none;
}

.bundle_details .btn-default {
  float: right;
}

.bundle_details .heading_row {
  padding-top: 35px;
}

.bundle_details .cmn_row .cmn_month {
  padding-bottom: 6px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .amazonPrime .logo {
    border-right: none;
  }
  .bundle_details .cmn_row ul li {
    font-size: 13px;
  }
  .bundle_details .cmn_row ul li h5 {
    font-size: 13px;
  }
  .bundle_details .cmn_row ul li .left {
    width: 155px;
  }
  .bundle_details .cmn_row .col2 {
    margin-left: 0;
  }
  .bundle_details .btn-default {
    padding: 6px 8px;
  }
}

@media only screen and (max-width: 767px) {
  .product-banner {
    border: none;
    min-height: 0;
  }
  .product-banner .product-text {
    min-height: 0;
  }
  .product-banner .row.row-eq-height.valign {
    display: block;
  }
  .product-banner .row.row-eq-height.valign figure {
    border-bottom: 1px solid #CECECE;
    padding: 15px;
  }
  .product-banner .row.row-eq-height.valign article .details h1 {
    font-size: 24px;
    line-height: 28px;
    padding: 0 0 5px 0;
  }
  .product-banner .row.row-eq-height.valign article .details h5 {
    font-size: 14px;
  }
  .cmn_month small {
    font-size: 11px;
  }
  .cmn_month strong {
    font-size: 57px;
    line-height: 72px;
    margin: -7px 0;
  }
  .cmn_month em {
    font-size: 17px;
    line-height: 19px;
  }
  .cmn_month sup {
    font-size: 20px;
    padding-top: 12px;
  }
  .cmn_month + p {
    font-size: 15px;
    line-height: 21px;
    padding: 10px 0;
  }
  .amazonPrime {
    padding: 0 30px;
    margin: 25px 0;
  }
  .amazonPrime .logo {
    padding: 20px 15px 0;
    border-right: none;
  }
  .service_details .cmn_link {
    display: block;
    position: absolute;
    left: 17px;
    top: -33px;
  }
  .service_details article ul li {
    padding-left: 0;
    background: none;
    padding-bottom: 14px;
  }
  .fios_service > .row > [class*="col"] {
    padding: 30px 15px;
    margin-bottom: 20px;
  }
  .fios_service > .row > [class*="col"] h1, .fios_service > .row > [class*="col"] h2, .fios_service > .row > [class*="col"] h3, .fios_service > .row > [class*="col"] h4, .fios_service > .row > [class*="col"] h5, .fios_service > .row > [class*="col"] h6 {
    text-align: left;
    display: block;
    min-height: 0;
  }
  .fios_service > .row > [class*="col"] figure {
    display: none;
  }
  .fios_service > .row > [class*="col"] p {
    text-align: left;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
  }
  .fios_service > .row > [class*="col"] .link {
    position: static;
    margin-bottom: 16px;
    text-align: left;
  }
  .fios_service .dsllist {
    display: block;
  }
  .fios_service .cmn_month {
    padding-bottom: 0;
    float: left;
    vertical-align: top;
  }
  .fios_service .col-sm-4 .btn-default {
    float: right;
    margin-left: 0px;
  }
  .fios_service .col-sm-4 .mobile-middle {
    overflow: hidden;
  }
  .fios_service .link {
    position: static;
    margin-bottom: 16px;
  }
  .gray_detailsbox {
    padding: 35px 15px;
  }
  .gray_detailsbox .row {
    margin: 0;
  }
  .gray_detailsbox p {
    font-size: 20px;
    line-height: 24px;
  }
  .gray_detailsbox .cmn_callchat {
    font-size: 20px;
    display: block;
  }
  .bundle_details .heading_row {
    text-align: center;
    padding: 16px 0 13px;
  }
  .bundle_details .cmn_row ul {
    position: relative;
    z-index: 999;
    margin: auto;
    display: table;
    float: none;
  }
  .bundle_details .cmn_row ul li {
    width: auto;
    float: none;
  }
  .bundle_details .cmn_row .cmn_link {
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
  }
  .bundle_details .cmn_row .cmn_month {
    margin: 0 auto;
    display: table;
  }
  .bundle_details .cmn_row .col2 {
    padding-top: 0;
    padding-right: 15px;
    margin: 0;
    text-align: center;
  }
  .bundle_details .cmn_row .btn-primary {
    display: table;
    margin: 0 auto;
  }
  .bundle_details .btn-default {
    float: left;
    margin: 0;
    font-size: 13px;
    padding: 6px 11px;
  }
  .cmn_details {
    display: none;
  }
  .bucket_details {
    padding: 0;
    border-top: 1px solid #CECECE;
  }
}

#contact-us .nav-justified {
  margin-top: 15px;
  display: flex;
}

#contact-us .nav-justified li {
  display: inline-block;
  width: 50%;
}

#contact-us .nav-justified li h6 {
  margin: 0;
}

#contact-us .nav-justified li h6 a[data-toggle] {
  cursor: pointer;
  color: #333;
}

#contact-us .nav-justified li h6:hover a[data-toggle] {
  color: #008c9b;
}

#contact-us .nav-justified li h6 a {
  cursor: default;
  color: #333;
  margin: 0 auto;
  padding: 10px 0;
  display: block;
  text-align: center;
  border: none;
  border-bottom: 5px solid transparent;
}

#contact-us .nav-justified li h6 a:hover {
  color: #333;
  background: none;
}

#contact-us .nav-justified li.active h6 {
  font-weight: bold;
  color: #008c9b;
}

#contact-us .nav-justified li.active h6 a[data-toggle] {
  color: #008c9b;
  border-bottom-color: #008c9b;
}

#contact-us .tab-content {
  overflow: hidden;
  border: 1px solid #CECECE;
}

#contact-us .tab-content .tab-pane {
  overflow: hidden;
  padding: 25px 15px;
}

#contact-us .tab-content .tab-pane h5 {
  margin: 30px 0 4px 0;
}

#contact-us .tab-content .tab-pane h5:first-child {
  margin: 5px 0 14px 0;
}

#contact-us .tab-content .tab-pane ul {
  list-style: none;
}

#contact-us .tab-content .tab-pane ul li {
  padding: 6px 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #333;
}

#contact-us .tab-content .tab-pane ul li:first-child {
  padding: 0 0 6px 0;
}

#contact-us .tab-content .tab-pane ul li:last-child {
  padding: 6px 0 0 0;
}

#contact-us .tab-content .tab-pane ul li a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #333;
}

#contact-us .tab-content .tab-pane ul li i {
  color: #008c9b;
  margin-right: 10px;
  width: 20px;
  font-size: 18px;
}

#contact-us .tab-content .tab-pane ul li img.icon {
  margin-right: 10px;
  width: 20px;
  height: auto;
}

#contact-us .tab-content .tab-pane ul li span.normal {
  margin-left: 30px;
  margin-top: 2px;
  display: block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #333;
  line-height: 12px;
}

#contact-us .tab-content .tab-pane select {
  display: block;
  height: 30px;
  padding: 5px;
  width: calc(100% - 30px);
  width: -ms-calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  margin-bottom: 10px;
  margin-left: 30px;
  background: #FFF;
}

#contact-us .tab-content .tab-pane select option:first-child {
  display: none;
}

#contact-us .tab-content .tab-pane .select-wrapper {
  position: relative;
}

#contact-us .tab-content .tab-pane .select-wrapper select[disabled], #contact-us .tab-content .tab-pane .select-wrapper option[disabled] {
  background: #CECECE;
}

#contact-us .tab-content .tab-pane .banner {
  margin-top: 20px;
}

#contact-us .tab-content .tab-pane .numbers {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  line-height: 20px;
  top: 2px;
  text-align: center;
  background: rgba(0, 140, 155, 0.2);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #008c9b;
}

#contact-us .tab-content .tab-pane .chosen-container {
  width: 100% !important;
  margin-bottom: 5px;
}

#contact-us .tab-content .tab-pane .chosen-container .chosen-single {
  margin-left: 30px;
}

#contact-us .tab-content .tab-pane .chosen-container.chosen-with-drop .chosen-drop {
  left: 30px;
}

#contact-us .tab-content .tab-pane .chosen-container.chosen-with-drop .chosen-drop .chosen-results .active-result {
  padding: 5px;
  color: #333;
}

#contact-us .tab-content .tab-pane .chosen-container.chosen-with-drop .chosen-drop .chosen-results .active-result.highlighted {
  color: #FFF;
  background: #008c9b;
}

#contact-us .tab-content .tab-pane .chosen-container .chosen-drop {
  width: calc(100% - 30px);
  width: -ms-calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
}

#contact-us .tab-content .tab-pane .ad-contacts > p {
  margin-bottom: 5px;
  margin-top: 30px;
}

#contact-us .tab-content .tab-pane .ad-contacts > p:first-child {
  margin-top: 0px;
}

#contact-us .tab-content .tab-pane .ad-contacts ul li a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #333;
}

#contact-us .tab-content .tab-pane .ad-contacts ul li {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #333;
}

#contact-us .recommended {
  margin: 30px 0;
  overflow: hidden;
}

#contact-us .recommended h4 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #333;
}

#contact-us .recommended a {
  display: block;
  overflow: hidden;
  border-bottom: none;
}

#contact-us .recommended a.subtitle-link h5 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 17px;
  color: #008c9b;
}

#contact-us .recommended a.read-more {
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

#contact-us .recommended a.read-more:after {
  background: url("../img/home-arrow.png") no-repeat 0 0;
  content: "";
  width: 5px;
  height: 8px;
  position: absolute;
  margin-left: 5px;
  margin-top: 4px;
}

#contact-us .recommended p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: inherit;
}

#contact-us .recommended p a {
  display: inline;
}

.callmeback-modal .fancybox-skin {
  background: #FFF;
}

.callmeback-modal .close {
  position: absolute;
  right: 30px;
  top: 30px;
  color: #999;
  z-index: 10;
}

.callmeback-modal .close:hover {
  color: #666;
}

.callmeback-modal #callbackAssist {
  padding: 75px 70px;
  background-color: #FFF;
  position: relative;
}

.callmeback-modal #callbackAssist .col-xs-2 i {
  font-size: 48px;
  color: #008c9b;
}

.callmeback-modal #callbackAssist input {
  border: 1px solid #999;
  border-radius: 5px;
  line-height: 32px;
  min-height: 32px;
  max-width: 100%;
  text-align: center;
}

.callmeback-modal #callbackAssist input[type="button"], .callmeback-modal #callbackAssist input[type="submit"] {
  padding: 0 12px;
  text-transform: capitalize;
  font-weight: bold;
}

.callmeback-modal #callbackAssist .col-xs-10 h3 {
  margin-top: 0px;
}

.callmeback-modal #callbackAssist .col-xs-10 .tel {
  display: inline-block;
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
}

.callmeback-modal #callbackAssist .col-xs-10 .tel input {
  padding: 0 5px;
  float: left;
}

.callmeback-modal #callbackAssist .col-xs-10 .tel input:nth-child(1), .callmeback-modal #callbackAssist .col-xs-10 .tel input:nth-child(3) {
  width: 40px;
}

.callmeback-modal #callbackAssist .col-xs-10 .tel input:nth-child(5) {
  width: 50px;
}

.callmeback-modal #callbackAssist .col-xs-10 .tel .input-separator {
  width: 30px;
  text-align: center;
  float: left;
  display: block;
  line-height: 32px;
}

.callmeback-modal #callbackAssist select {
  display: block;
  height: 30px;
  padding: 5px;
  width: calc(100% - 30px);
  width: -ms-calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  margin-bottom: 10px;
  margin-left: 30px;
  background: #FFF;
}

.callmeback-modal #callbackAssist .select-wrapper {
  position: relative;
}

.callmeback-modal #callbackAssist .select-wrapper select[disabled], .callmeback-modal #callbackAssist .select-wrapper option[disabled] {
  background: #CECECE;
}

.callmeback-modal #callbackAssist .numbers {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  line-height: 20px;
  top: 2px;
  text-align: center;
  background: rgba(0, 140, 155, 0.2);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #008c9b;
}

.callmeback-modal #callbackAssist .chosen-container {
  width: 100% !important;
  margin-bottom: 5px;
}

.callmeback-modal #callbackAssist .chosen-container .chosen-single {
  margin-left: 30px;
}

.callmeback-modal #callbackAssist .chosen-container.chosen-with-drop .chosen-drop {
  left: 30px;
}

.callmeback-modal #callbackAssist .chosen-container.chosen-with-drop .chosen-drop .chosen-results .active-result {
  padding: 5px;
  color: #333;
}

.callmeback-modal #callbackAssist .chosen-container.chosen-with-drop .chosen-drop .chosen-results .active-result.highlighted {
  color: #FFF;
  background: #008c9b;
}

.callmeback-modal #callbackAssist .chosen-container .chosen-drop {
  width: calc(100% - 30px);
  width: -ms-calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
}

.chosen-search {
  display: none;
}

.chosen-container ul.chosen-results li.disabled-result {
  display: none;
}

#callbackRepresentative, .callbackSchedule {
  width: calc(50% - 20px);
  width: -webkit-calc(50% - 20px);
  width: -ms-calc(50% - 20px);
}

#callbackRepresentative input[type=button], .callbackSchedule input[type=button] {
  font-weight: bold;
  padding: 6px;
}

#callbackRepresentative .form-group .input-group input, #callbackRepresentative .form-group .input-group input[readonly], .callbackSchedule .form-group .input-group input, .callbackSchedule .form-group .input-group input[readonly] {
  background: #FFF;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .callbackContent .input-group .form-control {
    padding: 6px 3px;
  }
}

@media only screen and (max-width: 767px) {
  #contact-us .nav-tabs.nav-justified > li h6 {
    font-size: 17px;
  }
  #contact-us .nav-tabs.nav-justified > li h6 a {
    border-radius: 0;
    margin: 0;
  }
  #contact-us .tab-content {
    border: none;
  }
  #contact-us .tab-content .tab-pane {
    padding: 0 0 25px 0;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold) {
    padding: 26px 15px;
    margin: 0;
    font-size: 26px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid #CECECE;
    clear: both;
    cursor: pointer;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold):after {
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #CECECE;
    font-size: 18px;
    position: absolute;
    right: 25px;
    top: 37px;
    display: block;
    transform: rotate(90deg);
  }
  #contact-us .tab-content .tab-pane h5:not(.bold) + .content, #contact-us .tab-content .tab-pane h5:not(.bold) + .ad-contacts {
    display: none;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold).open:after {
    transform: rotate(270deg);
    right: 20px;
    top: 35px;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold).open + .content, #contact-us .tab-content .tab-pane h5:not(.bold).open + .ad-contacts {
    display: block;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold).open + .content {
    margin: 20px auto 0 auto;
    display: table;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold).open + .content p {
    font-size: 20px;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold).open + .content ul li {
    padding: 20px 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #333;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold).open + .content ul li i {
    font-size: 24px;
    margin-right: 20px;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold).open + .content ul li img.icon {
    margin-right: 20px;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold).open + .content ul li a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #333;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold).open + .content ul li span.normal {
    font-size: 17px;
    line-height: 18px;
    margin-left: 44px;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold).open + .content.tech-support {
    margin: 30px 45px 40px;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold).open + .content.tech-support p {
    margin-left: 35px;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold).open + .content.tech-support .chosen-container {
    margin-bottom: 15px;
  }
  #contact-us .tab-content .tab-pane h5:not(.bold).open + .ad-contacts {
    margin-top: 30px;
  }
  #contact-us .tab-content .tab-pane .chosen-container .chosen-drop ul.chosen-results li.active-result {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: inherit;
  }
  .callmeback-modal #callbackAssist {
    padding: 85px 15px 30px 15px;
    display: block;
    overflow: hidden;
  }
  .callmeback-modal #callbackAssist .title {
    margin-bottom: 22px;
  }
  .callmeback-modal #callbackAssist .description {
    margin-bottom: 28px;
    line-height: 20px;
  }
  .callmeback-modal #callbackAssist .col-xs-10 .tel {
    margin-right: 0;
    width: 100%;
  }
  .callmeback-modal #callbackAssist .col-xs-10 .tel .input-separator {
    width: 10%;
  }
  .callmeback-modal #callbackAssist .col-xs-10 input[type="submit"] {
    display: block;
  }
  #callbackRepresentative, .callbackSchedule {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 25px;
  }
  #callbackRepresentative input, .callbackSchedule input {
    margin-bottom: 20px;
  }
}
