body {
  margin: 0;
  padding: 0;
  line-height: normal; }

.wrapper, #ResiQ121852.lp-container {
  max-width: 1170px;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background: #e6e7e8; }

#ResiQ121852 br.desktoponly {
  display: none; }
#ResiQ121852 p {
  margin-left: 0;
  margin-right: 0; }
#ResiQ121852 h1, #ResiQ121852 h2, #ResiQ121852 h3, #ResiQ121852 h4, #ResiQ121852 h5, #ResiQ121852 h6 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  display: block; }
#ResiQ121852 hr {
  width: auto; }
#ResiQ121852 a {
  text-decoration: underline; }
#ResiQ121852 img {
  max-width: 100%; }
#ResiQ121852 .clear, #ResiQ121852 .lp-row:after {
  clear: both; }
#ResiQ121852 .pull-left, #ResiQ121852 .redBig, #ResiQ121852 .smallRight {
  float: left; }
#ResiQ121852 .preload {
  height: 0;
  visibility: hidden;
  width: 0; }
#ResiQ121852 .screen {
  opacity: 0; }
#ResiQ121852 .wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative; }
#ResiQ121852 .lp-banner {
  height: auto;
  background: url(../images/confetti.png) no-repeat #e6e7e8 top center;
  padding: 0;
  position: relative; }
  #ResiQ121852 .lp-banner .col-right .sliderLeft {
    margin-top: 0px;
    text-align: left;
    margin-left: 20px; }
  #ResiQ121852 .lp-banner .col-right .sliderLeftTitle {
    margin: 20px 0px 0px -20px;
    text-align: center; }
    #ResiQ121852 .lp-banner .col-right .sliderLeftTitle .normal {
      font-size: 31px;
      margin-top: 3px;
      font-weight: 400;
      color: #57585b; }
  #ResiQ121852 .lp-banner .col-right .redBig {
    font-size: 183px;
    letter-spacing: -7px;
    line-height: 146px;
    padding: 0;
    margin: 0 0 0 23%;
    color: #d8262e;
    font-weight: 700; }
  #ResiQ121852 .lp-banner .col-right .smallRight {
    float: none;
    display: inline-block;
    vertical-align: top; }
  #ResiQ121852 .lp-banner .col-right .redSmall {
    font-size: 108px;
    line-height: 92px;
    padding: 0 0 0 9px;
    letter-spacing: -5px;
    color: #d8262e;
    font-weight: 700; }
  #ResiQ121852 .lp-banner .col-right .smallText {
    font-size: 9px;
    color: #57585b;
    line-height: 11px;
    padding: 2px 0 0 13px;
    text-align: left; }
  #ResiQ121852 .lp-banner .col-right .plus {
    font-size: 37px;
    line-height: 40px;
    color: #57585b;
    padding-top: 0px;
    display: inline-block;
    vertical-align: top;
    margin: 9.5% 0 0 15%;
    font-weight: 700; }
  #ResiQ121852 .lp-banner .headline {
    margin: 35px 0 5px 20px; }
    #ResiQ121852 .lp-banner .headline h1 {
      font-size: 135px;
      text-align: center;
      color: #3fc2cd;
      font-weight: bold;
      line-height: 58px;
      margin: 15px 0 17px 0; }
    #ResiQ121852 .lp-banner .headline h2 {
      color: #3e6688;
      font-size: 26px;
      font-weight: 700;
      text-align: center;
      line-height: 56px;
      margin-bottom: 0px;
      margin-top: 0px; }
      #ResiQ121852 .lp-banner .headline h2 span {
        color: #d9272c; }
    #ResiQ121852 .lp-banner .headline hr {
      width: 53%;
      margin: 0 auto;
      border: 1px solid #57585b; }
#ResiQ121852 .buy {
  height: 83px;
  line-height: 28px;
  font-size: 42px;
  position: relative;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #57585b; }
  #ResiQ121852 .buy .buyContent {
    line-height: 85px;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0; }
    #ResiQ121852 .buy .buyContent .cmn_callchat {
      font-size: 28px;
      display: inline-block;
      vertical-align: middle; }
      #ResiQ121852 .buy .buyContent .cmn_callchat a {
        color: #ffffff;
        text-decoration: none; }
      #ResiQ121852 .buy .buyContent .cmn_callchat .fa-comment {
        font-size: 40px;
        color: #ffffff;
        top: -9px; }
#ResiQ121852 .content .lp-first-row {
  min-height: 0;
  position: relative;
  background: #d3d4d6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(180deg, #dedfe0, #d3d4d6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(180deg, #dedfe0, #d3d4d6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg, #dedfe0, #d3d4d6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, #dedfe0, #d3d4d6);
  /* Standard syntax */
  padding-top: 125px;
  padding-bottom: 10px; }
  #ResiQ121852 .content .lp-first-row:before {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -45px;
    margin-top: -1px;
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 45px solid #d3d4d6;
    content: '';
    z-index: 1; }
  #ResiQ121852 .content .lp-first-row .col-left {
    text-align: center;
    margin-bottom: 119px; }
  #ResiQ121852 .content .lp-first-row .col-right {
    margin: 0px 0 20px; }
  #ResiQ121852 .content .lp-first-row h2 {
    margin: 10px 0 27px 0;
    color: #57585b;
    font-size: 30px; }
  #ResiQ121852 .content .lp-first-row .list-unstyled {
    padding-left: 22px;
    list-style-type: disc;
    margin-top: 16px;
    margin-bottom: 16px; }
    #ResiQ121852 .content .lp-first-row .list-unstyled li {
      padding: 0 0 28px 0;
      font-size: 26px;
      line-height: 26px;
      color: #57585b; }
#ResiQ121852 .content .lp-second-row {
  min-height: 0;
  position: relative;
  background: #dcddde;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(180deg, #dddedf, #dcddde);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(180deg, #dddedf, #dcddde);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg, #dddedf, #dcddde);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, #dddedf, #dcddde);
  /* Standard syntax */
  padding-top: 86px; }
  #ResiQ121852 .content .lp-second-row .col-left {
    text-align: center;
    margin-bottom: 98px; }
    #ResiQ121852 .content .lp-second-row .col-left .tablet {
      margin-top: 45px; }
  #ResiQ121852 .content .lp-second-row .col-right {
    padding: 0;
    margin-top: 95px; }
    #ResiQ121852 .content .lp-second-row .col-right h2 {
      font-size: 26px;
      margin-top: 0;
      color: #57585b; }
      #ResiQ121852 .content .lp-second-row .col-right h2 sup.visa-copy {
        font-size: 50%;
        top: -0.7em; }
      #ResiQ121852 .content .lp-second-row .col-right h2 sup.sign-star {
        font-size: 75%;
        top: -0.25em; }
    #ResiQ121852 .content .lp-second-row .col-right p {
      font-size: 9px;
      margin: 25px 0 0 5px; }
#ResiQ121852 .content .note {
  background-color: #d9272c;
  color: #ffffff;
  padding: 50px 0;
  height: 150px; }
  #ResiQ121852 .content .note strong {
    font-size: 42px; }
#ResiQ121852 .content .t-and-c-footer {
  font-size: 10px;
  line-height: 13px;
  color: #57585b;
  text-align: left; }
@media (min-width: 992px) {
  #ResiQ121852 br.desktoponly {
    display: block; }
  #ResiQ121852 br.mobileonly {
    display: none; }
  #ResiQ121852 .lp-banner .col-right {
    width: 55%; }
    #ResiQ121852 .lp-banner .col-right a.banner-btn {
      display: block;
      text-decoration: none;
      height: 28px;
      width: 271px;
      line-height: 28px;
      color: #ffffff;
      font-size: 17px;
      font-weight: 700;
      background: url(../images/banner_btn_bg.png);
      margin: 8px auto;
      text-align: center; }
  #ResiQ121852 .lp-banner .col-left {
    width: 45%; }
    #ResiQ121852 .lp-banner .col-left .amazon-prime {
      margin: 40px 0 58px 7px; } }
@media (max-width: 991px) {
  #ResiQ121852 .lp-banner .col-right a.banner-btn-mobile {
    display: block;
    text-decoration: none;
    height: 25px;
    width: 206px;
    line-height: 25px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background: url(../images/banner-btn-mobile.png);
    margin: 8px auto;
    text-align: center; }
  #ResiQ121852 .lp-banner .col-right .plus {
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: 30px; }
  #ResiQ121852 .lp-banner .col-right .sliderLeft {
    text-align: center;
    margin-left: 0px; }
    #ResiQ121852 .lp-banner .col-right .sliderLeft span {
      color: #d9272c; }
    #ResiQ121852 .lp-banner .col-right .sliderLeft .redBig {
      float: none !important;
      display: inline-block;
      letter-spacing: -5px;
      margin: 0px; }
  #ResiQ121852 .lp-banner .col-right .h2-mobile {
    text-align: center;
    margin: 0px 0 30px;
    color: #57585b; }
  #ResiQ121852 .content .col-right {
    margin-top: 75px; }
  #ResiQ121852 .content .note {
    height: 80px;
    padding: 19px 0; }
    #ResiQ121852 .content .note strong {
      font-size: 18px; }
      #ResiQ121852 .content .note strong span {
        font-size: 20px; } }
@media (min-width: 992px) and (max-width: 1091px) {
  #ResiQ121852 .lp-banner .col-right .plus {
    margin: 9.5% 0 0 8%; } }
@media (max-width: 767px) {
  #ResiQ121852 .lp-banner {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
    #ResiQ121852 .lp-banner .col-right {
      float: none !important; }
      #ResiQ121852 .lp-banner .col-right .redBig {
        font-size: 169px; }
      #ResiQ121852 .lp-banner .col-right .redSmall {
        font-size: 94px;
        padding-left: 0px; }
      #ResiQ121852 .lp-banner .col-right .sliderLeft sup {
        font-size: 40%;
        top: -1em; }
      #ResiQ121852 .lp-banner .col-right .smallRight {
        margin-left: -7px; }
      #ResiQ121852 .lp-banner .col-right .sliderLeftTitle {
        margin: 20px 0px 0px 0px; }
        #ResiQ121852 .lp-banner .col-right .sliderLeftTitle .normal {
          font-size: 25px; }
    #ResiQ121852 .lp-banner .headline {
      margin: 26px 0 9px 0; }
      #ResiQ121852 .lp-banner .headline h1 {
        font-size: 62px;
        margin-bottom: 0px; }
      #ResiQ121852 .lp-banner .headline h2 {
        font-size: 12px;
        line-height: 12px; }
  #ResiQ121852 .buy {
    font-size: 18px;
    height: 65px; }
    #ResiQ121852 .buy .buyContent {
      line-height: 65px; }
      #ResiQ121852 .buy .buyContent .cmn_callchat .fa-comment {
        font-size: 25px;
        top: -4px; }
      #ResiQ121852 .buy .buyContent a {
        font-size: 15px; }
  #ResiQ121852 .content .lp-first-row {
    padding-top: 50px; }
    #ResiQ121852 .content .lp-first-row h2 {
      margin: 25px 0 0 0;
      font-size: 17px;
      text-align: center; }
    #ResiQ121852 .content .lp-first-row .list-unstyled {
      margin: 9px 0 0 23px; }
      #ResiQ121852 .content .lp-first-row .list-unstyled li {
        font-size: 15px;
        padding-bottom: 4px; }
    #ResiQ121852 .content .lp-first-row .col-left {
      margin: 0px auto 0; }
      #ResiQ121852 .content .lp-first-row .col-left img {
        max-width: 40%; }
    #ResiQ121852 .content .lp-first-row:before {
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-top: 25px solid #d3d4d6;
      margin-left: -25px; }
  #ResiQ121852 .content .lp-second-row {
    padding-top: 25px; }
    #ResiQ121852 .content .lp-second-row .col-left {
      margin-bottom: 30px; }
      #ResiQ121852 .content .lp-second-row .col-left img {
        max-width: 40%; }
    #ResiQ121852 .content .lp-second-row .col-right {
      margin-top: 35px;
      margin-bottom: 40px; }
      #ResiQ121852 .content .lp-second-row .col-right h2 {
        text-align: center;
        font-size: 17px; }
        #ResiQ121852 .content .lp-second-row .col-right h2 .sign-star {
          top: -1px;
          font-size: 95%; }
      #ResiQ121852 .content .lp-second-row .col-right p {
        font-size: 9px;
        text-align: center;
        margin-top: 5px; } }

