//variable
$background-color: #e6e7e8;
$blue-text-color:#3fc2cd;
$dark-blue-text-color:#3e6688;
$call-top-bar-color:#57585b;
$red-text-color:#d8262e;
$red-text-2-color:#d9272c;

body {
    margin: 0;
    padding: 0;
    line-height: normal;
}
.wrapper, #ResiQ121852.lp-container {
        max-width: 1170px;
        font-family: Arial, sans-serif;
        overflow: hidden;
		background:$background-color;
    }
#ResiQ121852{
	br.desktoponly {
        display: none;
    }

    p {
        margin-left: 0;
        margin-right: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Arial, sans-serif;
        font-weight: 700;
        display: block;
    }
    hr{
        width: auto;
    }
    a {
        text-decoration: underline;
    }

    img {
        max-width: 100%;
    }

	.clear, .lp-row:after {
        clear: both;
    }

    .pull-left, .redBig, .smallRight {
        float: left;
    }

	.preload {
        height: 0;
        visibility: hidden;
        width: 0;
    }

    .screen {
        opacity: 0;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .lp-banner {
        height: auto;
        background: url(../images/confetti.png) no-repeat $background-color top center;
        padding: 0;
        position: relative;

		.col-right {
			.sliderLeft {
				margin-top: 0px;
				text-align: left;
				margin-left: 20px;
			}

			.sliderLeftTitle {
				margin: 20px 0px 0px -20px;
				text-align: center;

				.normal {
					font-size: 31px;
					margin-top: 3px;
					font-weight: 400;    
					color: $call-top-bar-color;
				}
			}

			.redBig {
				font-size: 183px;
				letter-spacing: -7px;
				line-height: 146px;
				padding: 0;
				margin: 0 0 0 23%;
				color:$red-text-color;
				font-weight: 700;
			}
			.smallRight {
				float: none;
				display: inline-block;
				vertical-align: top;
			}
			.redSmall {
				font-size: 108px;
				line-height: 92px;
				padding: 0 0 0 9px;
				letter-spacing: -5px;
				color:$red-text-color;
				font-weight: 700;
			}
			.smallText {
				font-size: 9px;
				color: $call-top-bar-color;
				line-height: 11px;
				padding: 2px 0 0 13px;
				text-align: left;
			}
			.plus {
				font-size: 37px;
				line-height: 40px;
				color: $call-top-bar-color;
				padding-top: 0px;
				display: inline-block;
				vertical-align: top;
				margin: 9.5% 0 0 15%;
				font-weight: 700;
			}
		}
		
	   .headline {
			margin: 35px 0 5px 20px;

			h1 {
				font-size: 135px;
				text-align: center;
				color: $blue-text-color;
				font-weight: bold;
				line-height: 58px;
				margin: 15px 0 17px 0;
			}
			h2 {
				color: $dark-blue-text-color;
				font-size: 26px;
				font-weight: 700;
				text-align: center;
				line-height: 56px;
				margin-bottom: 0px;
				margin-top: 0px;

				span {
					color: $red-text-2-color;
				}
			}
			hr {
				width: 53%;
				margin: 0 auto;
				border: 1px solid $call-top-bar-color;
			}
		}
	}
	.buy {
		height: 83px;
		line-height: 28px;
		font-size: 42px;
		position: relative;
		color: #fff;
		font-weight: 700;
		text-align: center;
		background-color: $call-top-bar-color;

		.buyContent {
			line-height: 85px;
			padding: 0;
			position: absolute;
			left: 0;
			right: 0;

			.cmn_callchat {
				font-size: 28px;
				display: inline-block;
				vertical-align: middle;

				a {
					color: #ffffff;
					text-decoration: none;
				}
				.fa-comment {
					font-size: 40px;
					color: #ffffff;
					top: -9px;
				}
			}
		}
	}

	.content {
		.lp-first-row {
			min-height: 0;
			position: relative;
			background: #d3d4d6; /* For browsers that do not support gradients */
			background: -webkit-linear-gradient(180deg, #dedfe0, #d3d4d6); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(180deg, #dedfe0, #d3d4d6); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(180deg, #dedfe0, #d3d4d6); /* For Firefox 3.6 to 15 */
			background: linear-gradient(180deg, #dedfe0, #d3d4d6); /* Standard syntax */
			padding-top: 125px;
			padding-bottom: 10px;

			&:before {
					position: absolute;
					top: 100%;
					left: 50%;
					margin-left: -45px;
					margin-top: -1px;
					width: 0;
					height: 0;
					border-left: 45px solid transparent;
					border-right: 45px solid transparent;
					border-top: 45px solid #d3d4d6;
					content: '';
					z-index: 1;
			}

			.col-left {
				text-align: center;
				margin-bottom: 119px;
			}

			.col-right {
				margin: 0px 0 20px;
			}

			h2 {
				margin: 10px 0 27px 0;
				color: $call-top-bar-color;
				font-size: 30px;
			}

			.list-unstyled {
				padding-left: 22px;
				list-style-type: disc;
				margin-top: 16px;
				margin-bottom: 16px;

				li {
					padding: 0 0 28px 0;
					font-size: 26px;
					line-height: 26px;
					color: $call-top-bar-color;
				}
			}
		}

		.lp-second-row {
			min-height: 0;
			position: relative;
			background: #dcddde; /* For browsers that do not support gradients */
			background: -webkit-linear-gradient(180deg, #dddedf, #dcddde); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(180deg, #dddedf, #dcddde); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(180deg, #dddedf, #dcddde); /* For Firefox 3.6 to 15 */
			background: linear-gradient(180deg, #dddedf, #dcddde); /* Standard syntax */
			padding-top: 86px;

			.col-left {
				text-align: center;
				margin-bottom: 98px;

				.tablet {
					margin-top: 45px;
				}
			}
			.col-right {
				padding: 0;
				margin-top: 95px;

				h2 {
					font-size: 26px;
					margin-top: 0;
					color: $call-top-bar-color;

					sup.visa-copy {
						font-size: 50%;
						top: -0.7em;
					}
					sup.sign-star {
						font-size: 75%;
						top: -0.25em;
					}
				}
				p {
					font-size: 9px;
					margin: 25px 0 0 5px;
				}
			}
		}

		.note {
			background-color: $red-text-2-color;
			color: #ffffff;
			padding: 50px 0;
			height: 150px;

			strong {
				font-size: 42px;
			}
		}

		.t-and-c-footer {
			font-size: 10px;
			line-height: 13px;
			color: $call-top-bar-color;
			text-align: left;
		}

	}

	@media (min-width: 992px){
		br.desktoponly {
            display: block;
        }

        br.mobileonly {
            display: none;
        }

		.lp-banner .col-right {
			width: 55%;
		
			a.banner-btn {
				display: block;
				text-decoration: none;
				height: 28px;
				width: 271px;
				line-height: 28px;
				color: #ffffff;
				font-size: 17px;
				font-weight: 700;
				background: url(../images/banner_btn_bg.png);
				margin: 8px auto;
				text-align: center;
			}
		}

		.lp-banner .col-left {
			width: 45%;

			.amazon-prime {
				margin: 40px 0 58px 7px;
			}
		}
	}


	@media (max-width: 991px){
		.lp-banner .col-right {

			a.banner-btn-mobile {
				display: block;
				text-decoration: none;
				height: 25px;
				width: 206px;
				line-height: 25px;
				color: #ffffff;
				font-size: 13px;
				font-weight: 700;
				background: url(../images/banner-btn-mobile.png);
				margin: 8px auto;
				text-align: center;
			}

			.plus {
				margin: 0;
				text-align: center;
				font-weight: 300;
				font-size: 30px;
			}

			.sliderLeft {
			    text-align: center;
				margin-left: 0px;

				span {
					color: $red-text-2-color;
				}

				.redBig {
					float: none !important;
					display: inline-block;
					letter-spacing: -5px;
					margin: 0px;
				}

			}

			.h2-mobile {
				text-align: center;
				margin: 0px 0 30px;
				color:$call-top-bar-color;
			}
		}

		.content {
			.col-right {
				margin-top: 75px;
			}
			.note {
				height: 80px;
				padding: 19px 0;

				strong {
					font-size: 18px;

					span {
						font-size: 20px;
					}
				}
			}
		}
	}

	@media (min-width:992px) and (max-width:1091px){   
		.lp-banner .col-right .plus {
			margin: 9.5% 0 0 8%;
		}
	}

	@media (max-width: 767px){
		.lp-banner {
		    -webkit-background-size: contain;
			-moz-background-size: contain;
			-o-background-size: contain;
			 background-size: contain; 
			.col-right {
				float: none !important;

				.redBig {
					font-size: 169px;
				}
				.redSmall {
					font-size: 94px;
					padding-left:0px;
				}

				.sliderLeft sup {
					font-size: 40%;
					top: -1em;
				}

				.smallRight {
					margin-left: -7px;	
				}

				.sliderLeftTitle {
					margin: 20px 0px 0px 0px;
					.normal {
						font-size: 25px;
					}
				}
			}
			.headline {
				margin: 26px 0 9px 0;

				h1 {
					font-size: 62px;
					margin-bottom: 0px;
				}
				h2 {
					font-size: 12px;
					line-height: 12px;
				}
			}
		}

		.buy {
			font-size: 18px;
			height: 65px;

			.buyContent {
			    line-height: 65px;
				.cmn_callchat .fa-comment {
					font-size: 25px;
					top: -4px;
				}

				a {
					font-size: 15px;
				}
			}
		}

		.content {
			.lp-first-row {
			    padding-top: 50px;

				h2 {
					margin: 25px 0 0 0;
					font-size: 17px;
					text-align: center;
				}

				.list-unstyled  {
					margin: 9px 0 0 23px;

					li {
						font-size: 15px;
						padding-bottom: 4px;
					}
				}

				.col-left {
					margin: 0px auto 0;

					img {
						max-width: 40%;
					}
				}
				&:before {
					border-left: 25px solid transparent;
					border-right: 25px solid transparent;
					border-top: 25px solid #d3d4d6;
					margin-left: -25px;
				}
			}
			.lp-second-row {
				padding-top: 25px;
				.col-left {
				 margin-bottom: 30px;
					img {
						max-width: 40%;
					}
				}
				.col-right {
				margin-top: 35px;
				margin-bottom: 40px;
					h2 {
						text-align: center;
						font-size: 17px;

						.sign-star {
							top: -1px;
							font-size: 95%;
						}
					}
					p {
						font-size: 9px;
						text-align: center;
						margin-top: 5px;
					}
				}
			}
		}
		
	}

	

}